.navsidebar-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navsidebar-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 0;
}